/* font work */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lugrasimo&family=Montserrat&family=Open+Sans:wght@400;700&family=Oswald&family=Roboto:wght@300;400;500;700;900&family=Russo+One&family=Work+Sans:wght@300;400;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Work Sans;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.general-but{
    background-color: rgba(255, 144, 14, 1);
    width: 165px;
    height: 57px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: 550;
    color: white;
}
/* navigation style */
header{
    background-color:rgba(255,244 ,231) ;
}
.nav-continer{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding:40px 0px;
}
.logo-continer > h3 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.nav-ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    color: rgba(66, 66, 66, 1);
}
/* banner styles */
.banner-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin: 25px auto;
}
.banner-heah-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-head{
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    margin: 6% 0%;
}
.banner-img{
    padding: 0px 10%;
}

/* main section style */
.main{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10%;
}
.main-img-continer{
    display: flex;
    gap: 5px;
    width: 50%;
}
.main-description{
    font-size: 14px;
    font-weight: 400;
    color: #727272; 
    margin: 2rem 0rem;
}
.main-text-continer{
    width: 50%;
}
.main-head{
    font-size: 42px;
    font-weight: 500;
}
.head-span1{
    color: #727272;
}
.head-span2{
    color: #FF900E;
}








/* responsive media queries */
@media screen and (max-width: 576px) {
    .nav-continer{
        padding: 15px 0px;
    }
    .nav-continer{
        flex-direction: column;
    }
    .logo-continer{
        display: block;
    }
    .nav-ul{
        gap: 1rem;
    }
    .banner-description{
        font-size: 14px;
        font-weight: 400;
        margin: 6% 10%;
    }
    .banner-heah-div{
        margin: 8% 14%;
        padding: auto;
    }
}